.toggle > .container {
    height: 20px;
    cursor: pointer;
}

.toggle .content {
    float: left;
    margin-right: 10px;
    line-height: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}

.toggle .circle {
    float: right;
    margin-top: -1px;
    font-variant-numeric: tabular-nums;
    line-height: 20px;
    letter-spacing: var(--ui-number-letter-spacing);
}

.toggle > .group {
    position: relative;
}
