.radial-graph-segments {
    position: relative;
    pointer-events: auto;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
}

.radial-graph-segments > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.radial-graph-segments .info {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    font-size: var(--ui-secondary-font-size);
    letter-spacing: var(--ui-secondary-letter-spacing);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.radial-graph-segments .label {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    font-size: var(--ui-secondary-font-size);
    letter-spacing: var(--ui-secondary-letter-spacing);
    color: var(--ui-secondary-color);
    white-space: nowrap;
    opacity: 0;
}

.radial-graph-segments .label.hover-label {
    z-index: 1;
    pointer-events: none;
    visibility: hidden;
}

.radial-graph-segments .marker {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    line-height: var(--ui-title-line-height);
    white-space: nowrap;
    z-index: 1;
    pointer-events: auto;
    opacity: 0;
}

.radial-graph-segments .marker.draggable {
    cursor: move;
}
