.alienkitty {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90px;
    height: 86px;
    margin-left: -45px;
    margin-top: -108px;
    background: center / contain no-repeat url(/assets/images/alienkitty.svg);
    cursor: pointer;
}

.alienkitty .eyelid1 {
    position: absolute;
    left: 35px;
    top: 25px;
    width: 24px;
    height: 14px;
    background: center / contain no-repeat url(/assets/images/alienkitty_eyelid.svg);
}

.alienkitty .eyelid2 {
    position: absolute;
    left: 53px;
    top: 26px;
    width: 24px;
    height: 14px;
    background: center / contain no-repeat url(/assets/images/alienkitty_eyelid.svg);
}
