.reticle {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

.reticle .center {
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    border: 1px solid var(--ui-color);
    border-radius: 50%;
}

@media (min-resolution: 1.5dppx) {
    .reticle .center {
        border-width: 1.5px;
    }
}
