.info {
    position: fixed;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

.info.info--top {
    top: 55px;
}

.info.info--bottom {
    bottom: 55px;
}

.info .content {
    text-align: center;
    text-transform: uppercase;
    color: var(--ui-info-color);
}
